body{
    display: flex;
    min-height: 100vh;
    margin: 0;
    justify-content: stretch;
}

#nav-bar{
    height: 100vh;
    width: 200px;
    background-color: #63350F;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: solid black;
    gap: 150px;
}

#site-icon{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    border-radius: 5px;
}

#buttons{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

button{
    background-color: #63350F;
    border: solid #EBC6B5;
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}

button:hover{
    background-color: #635448;
}

#main-page{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

header{
    display: flex;
    background-color: #EBC6B5;
    justify-content: center;
    align-items: center;
}

header, footer{
    width: 100%;
    min-height: 15vh;
}

h1{
    color: #63350F;
}

#content-area{
    background-color: #635448;
    flex-grow: 1;
    width: 100%;
}

iframe{
    border: none;
}

footer{
    background-color: #EBC6B5;
}