body{
    display: flex;
    min-height: 100vh;
    margin: 0;
    justify-content: stretch;
}

#nav-bar{
    height: 100vh;
    width: 200px;
    background-color: #63350F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#site-icon{
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

#main-page{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

header{
    display: flex;
    background-color: #EBC6B5;
    justify-content: center;
    align-items: center;
}

header, footer{
    width: 100%;
    min-height: 15vh;
}

h1{
    color: white;
}



#main-content{
    background-color: white;
    flex-grow: 1;
    width: 100%;
}

footer{
    background-color: #EBC6B5;
}