body{
    display: flex;
    min-height: 100vh;
    margin: 0;
    justify-content: stretch;
    overflow: hidden;
}

#nav-bar{
    height: 100vh;
    width: 200px;
    flex-shrink: 0;
    background-color: #63350F;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: solid black;
    gap: 150px;
}

#site-icon{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    border-radius: 5px;
}

#buttons{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.navbar-button{
    background-color: #63350F;
    border: solid #EBC6B5;
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}

.navbar-button:hover{
    background-color: #635448;
}

#main-page{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

header, footer{
    width: 100%;
    min-height: 15vh;
    background-color: #EBC6B5;


    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: #63350F;
}

#content-area{
    background-color: #635448;
    flex-grow: 1;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: auto;
}

iframe{
    border: none;
}

#about-me{
    background-color: #EBC6B5;
    color: #635448;
    border-radius: 15px;
    font-family:'Times New Roman', Times, serif;
}

#project-group{
    height: 70vh;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    flex-shrink: 1;
}

.project{
    height: 300px;
    width: 300px;
    background-color: #EBC6B5;
    border-radius: 15px;
    margin: 40px;
    flex-shrink: 0;
    flex-grow: 0;

    display: flex;
    flex-direction: column;
}

.project-img{
    background-image: url('images/Murgray_chibi_logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    clip-path: inset(0px 15px 0px 15px);
    overflow: hidden;
    min-height: 200px;
    min-width: 300px;
}

.project-info{
    height: 90px;
    width: 300px;
    display: flex;
}

.description{
    flex: 1;
}

.btn-section{
    flex: 0 0 30px;
    display: flex;
    flex-direction: column;
}

#copyright{
    color: #63350F;
    text-align: center;
    bottom: 0;
    position: fixed;
}
